# Import Pandas Library

In [1]:
import pandas as pd

# Read Dataset

In [2]:
df = pd.read_csv("datasets.csv")

# Top 5 rows

In [3]:
df.head(5)

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

# Last 5 rows

In [4]:
df.tail(5)

,datasetName,about,link,categoryName,cloud,vintage
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

# Row and Column Number

In [6]:
df.shape

(61, 6)

# Datatypes

In [7]:
df.dtypes

datasetName      object
about            object
link             object
categoryName     object
cloud            object
vintage         float64
dtype: object

# df.info() for Descriptive Analysis

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datasetName   61 non-null     object
 1   about         61 non-null     object
 2   link          61 non-null     object
 3   categoryName  61 non-null     object
 4   cloud         24 non-null     object
 5   vintage       31 non-null     float64
dtypes: float64(1), object(5)
memory usage: 3.0+ KB

# axis=0 for row,axis=1 for column

In [10]:
df = df.drop(['datasetName'],axis=1)
df.head(5)

,about,link,categoryName,cloud,vintage
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

# df.describe() for statistical analysis (only for numeric value columns)

In [11]:
df.describe()

           vintage
count    31.000000
mean   2000.677419
std      24.436840
min    1920.000000
25%    2006.500000
50%    2009.000000
75%    2012.000000
max    2016.000000

# Rename

In [12]:
df = df.rename(columns = {"about":"description"})
df.head(5)

,description,link,categoryName,cloud,vintage
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

# Finding Duplicates

In [14]:
duplicates = df[df.duplicated()]
print("Number of duplicate rows",duplicates)

Number of duplicate rows Empty DataFrame
Columns: [description, link, categoryName, cloud, vintage]
Index: []

# Dropping Duplicates

In [16]:
df = df.drop_duplicates()
df.head()

,description,link,categoryName,cloud,vintage
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

# Count of Null values

In [20]:
print(df.isnull().sum())

description      0
link             0
categoryName     0
cloud           37
vintage         30
dtype: int64

# Dropping missing values by dropna()

In [24]:
df = df.dropna()
df.count()

description     2
link            2
categoryName    2
cloud           2
vintage         2
dtype: int64